/***********************RESETS*********************/
*{
    margin:0;
    padding:0;
    font-size: 100%;
    border:none;
    outline:none;
    font-weight: 300;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body, html{
    height: 100%;
}

/***********************PADRÃO ATÉ 960px*************************/
/***********************ESTILIZAÇÃO DO JOGO*********************/
/*DIV DO JOGO*/
#jogo{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    top:50%;
    transform: translateY(-87%);
    position: relative;
}
/*UL*/
#casas{
    width: 300px;
    list-style: none;
    height:300px;
    top:50%;
    transform: translateY(-50%);
    margin:0 auto;
    position: relative;
    padding-left: 16px;
}

/*CASAS DO TABULEIRO*/
li{
    width:90px;
    height: 90px;
    display: block;
    font-size: 70px;
    text-align: center;
    float: left;
    vertical-align: middle;
    margin:0 auto;
    position: relative;
    top:50%;
    transform: translateY(-150%);
}

/***********************BORDAS DO TABULEIRO*********************/
.bottomAndRight{
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
.bottom{
    border-bottom: 5px solid black;
}

.right{
    border-right: 5px solid black;
}
.pointEvents {
    pointer-events: none;
}

.pintarCasa{
    color: red;
}

/***********************ESTILIZAÇÃO DO MENU*********************/
#menuP{
    width: 100%;
    /*float: left;*/
    height: 220px;
    position: relative;
    top: 50%;
    transform: translateY(-113%);
    margin: 0 auto;
}

#menu{
    width: 100%;
    height: 100%;
    top:50%;
    transform: translateY(-50%);
    position: relative;
    margin: 0 auto;
}

#menu h1{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#mensagemJogador{
    font-size: 15px;
    display: block;
    text-align: center;
    transform: translateY(70%);
}
strong{
    font-weight: bold;
}

.placar{
    width: 100%;
    height: 50px;
    position: relative;
    top: 50%;
    transform: translateY(-180%);
    margin: 0 auto;
}
#jogadorX{
    margin-left: 2%;
}
#jogadorO{
    margin-right: 2%;
}
#jogadorX,
#jogadorO{
    width: 48%;
    height: 100%;
    float: left;
    transition: 280ms linear all;
}
.esq,
.dir{
    display: inline-block;
    width: 50%;
    height: 50px;
    line-height: 50px;
    border: none;
    font-weight: bold;
    text-align: center;
}
.bordaBottom{
    border-bottom: 2px solid black;
}
.dir{
    margin-left: -5px;
    border-left: none !important;
}
.esq{
    border-right: none !important;
}

.borderBottom{
    border-bottom: 2px solid black;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 3px 4px rgba(0,0,0,.12), 0 1px 5px rgba(0,0,0,.2);
    transition: 2s ease all;
}

button{
    position: relative;
    text-align: center;
    width: 96%;
    height: 36px;
    padding: 10px;
    background-color: white;
    outline: none;
    border: none;
    border-radius: 2px;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 3px 4px rgba(0,0,0,.12), 0 1px 5px rgba(0,0,0,.2);
    font-weight: bold;
    font-size: 15px;
    top:50%;
    transform: translateY(-50%);
    margin-left: 2%;
}

#botao{
    width: 100%;
    height: 40px;
    position: relative;
    top:50%;
    transform: translateY(-150%);
    margin: 0 auto;
}

/***********************LINHAS DE GANHADOR*********************/
.linhaHorizontal{
    width: 0;
    height: 5px;
    position: absolute;
    top: 0px;
    left: 16px;
    pointer-events: none;
}
.linhaDiagonal{
    height: 5px;
    background-color: red;
    width: 0;
    transition: width 280ms linear;
}


/***************DESENHAR LINHAS HORIZONTAIS****************/
.linhaHorizontal1{
    top: 53px !important;
}
.linhaHorizontal2{
    top: 143px !important;
}
.linhaHorizontal3{
    top: 233px !important;
}
.linhaHorizontalHelper{
    width: 270px !important;
    transition: width 280ms linear;
}


/***************COR DAS LINHAS****************/
.bg-red{
    background-color: red !important;
}

/***************DESENHAR LINHAS VERTICAIS****************/
.linhaVertical1{
    left: 56px !important;
}
.linhaVertical2{
    left: 146px !important;
}
.linhaVertical3{
    left: 239px !important;
}
.linhaVerticalHelper{
    top:16px !important;
    width: 5px !important;
    height: 270px !important;
    transition: height 280ms linear !important;
}

/***************DESENHAR LINHAS DIAGONAIS****************/
.linhaDiagonal1{
    left: -16px !important;
    transform: rotate(45deg) !important;
}
.linhaDiagonal2{
    left: -25px !important;
    transform: rotate(135deg) !important;
}
.linhaDiagonalHelper{
    top: 146px !important;
    width: 340px !important;
}
.linhaDiagonalDentro{
    width: 100% !important;
}
#velha{
    width: 150px;
    height: 250px;
    position: relative;
    top:50%;
    transform: translateY(-150%);
    margin: 0 auto;
    /*z-index: 5;*/
    pointer-events: none;
    /*display: none;*/
}
#velha img{
    max-width: 100%;
    max-height: 100%;
    transform: scale(0);
    transition: transform 280ms
}

/*********************CONFIGURAÇÕES PARA TELA min-width: 960px********************************/
@media screen and (min-width: 960px) {
    #jogo{
        width: 50%;
        float: right;
        height: 600px;
        transform: translateY(-50%);
    }
    #menu{
        width: 100%;
        height: 480px;
        transform: translateY(-50%);
        padding-right: 2%;
    }
    #menu h1{
        font-size: 40px;
        transform: translateY(151%);
    }
    #mensagemJogador{
        font-size: 27px;
        transform: translateY(442%);
    }
    .placar{
        height: 65px;
        transform: translateY(-110%);
    }
    .esq,
    .dir{
        display: inline-block;
        width: 50%;
        height: 65px;
        line-height: 65px;
        border: none;
        font-weight: bold;
        text-align: center;
        font-size: 55px;
    }
    #botao{
        height: 70px;
        transform: translateY(-32%);
    }
    button{
        font-size: 35px;
        height: 67px;
    }
    #casas{
        width: 480px;
        height: 480px;
    }
    li{
        width: 150px;
        height: 150px;
        font-size: 130px;
    }
    #menuP{
        width: 50%;
        float: right;
        height: 600px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 auto;
    }

    /***************DESENHAR LINHAS HORIZONTAIS****************/
    .linhaHorizontal1{
        top: 89px !important;
    }
    .linhaHorizontal2{
        top: 239px !important;
    }
    .linhaHorizontal3{
        top: 389px !important;
    }
    .linhaHorizontalHelper{
        width: 450px !important;
        transition: width 280ms linear;
    }


    /***************COR DAS LINHAS****************/
    .bg-red{
        background-color: red !important;
    }

    /***************DESENHAR LINHAS VERTICAIS****************/
    .linhaVertical1{
        left: 86px !important;
    }
    .linhaVertical2{
        left: 236px !important;
    }
    .linhaVertical3{
        left: 389px !important;
    }
    .linhaVerticalHelper{
        top:16px !important;
        width: 5px !important;
        height: 450px !important;
        transition: height 280ms linear !important;
    }

    /***************DESENHAR LINHAS DIAGONAIS****************/
    .linhaDiagonal1{
        left: -53px !important;
        transform: rotate(45deg) !important;
    }
    .linhaDiagonal2{
        left: -53px !important;
        transform: rotate(135deg) !important;
    }
    .linhaDiagonalHelper{
        top: 235px !important;
        width: 583px !important;
    }
    .linhaDiagonalDentro{
        width: 100% !important;
    }

    #velha{
        width: 250px;
        height: 350px;
        transform: translateY(-169%);
    }

}








